<!DOCTYPE html>
<html>
    
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width = device-width, initial-scale =1">
    <link rel='stylesheet' href='style.css'>
  <title>Steam Games Trader</title>
  <script> if (!user) {

  } else document.getElementById('steam-link').href='logout' </script>
</head>
<body>
    <% include partials/nav.ejs %>
    <div align="center">
	<img src="logo.png";>
    </div>
	<section>
		<h1> Insert stuff here</h1>
	</section>
    <script src="js/main.js"></script>
</body>
    
</html>
