body {
    background-color: black !important;
}
#steam-login {
    display: block;
    max-height: 50px;
}
#steam-link {
    background: url(materials/sits_01.png);
    width: 180px;
    height: 35px;
    margin: 7.5px;
}

